.calculator {
    border: 2px solid black;
    display: flex;
    width: 420px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Rajdhani', sans-serif;
}

.calculator button {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    background-color: #eee;
    font-size: 25px;
    color: black;
    font-family: 'Rajdhani', sans-serif;
}


.row-calc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 7px;
}

#clear {
    flex-grow: 0.87;
    background: orangered;
}

.display-calc {
    border: 3px solid grey;
    height: 110px;
    margin: 7px 3px;
    text-align: center;
    font-size: 50px;
    line-height: 110px;
}

#last-row {
    width: 310px;
    align-content: space-between;
    height: 207px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    background: white;
}

#equals {
    height: 207px;
    background: dodgerblue;
}

button:hover {
    background: rgba(91,114,143,0.55) !important;
}

#disabled {
    background: grey;
}

#disabled:hover {
    background: grey !important;
}